.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-space-around{
    justify-content: space-around;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.margin{
    margin: 0 12.5vw;
}

.primary-color{
    background-color: rgba(26,29,47,255);
}

.secondary-color{
    background-color: rgba(117,185,36,255);
}

.calibri{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font-white{
    color: white;
}

.font-green{
    color: rgba(117,185,36,255);
}

.tertiary-blue{
    background-color: rgba(54,148,235,255);
}

.font-blue{
    color: rgba(54,148,235,255);
}

.border{
    /* border: 1px solid black; */
}

.padding{
    padding: 2rem;
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}